.homepage {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#imgContainer {
    height: 100vh;
    color: white;
    background-image: url("./homepage_assets/yarn-2565067.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

#websiteTitle {
    align-self: center;
    margin-left: 5%;
}

#pattern-creation-container {
    display: flex;
}

#pattern-creation {
    width: 67%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    text-align:justify;
    color: rgb(73, 67, 62);
}

.pattern-creation-card {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    box-shadow: 0px 0px 5px 1px #d6d1d1;
}

.svgImg {
    align-self: center;
    max-width: 40px;
}

#columns-text {
    display: flex;
    justify-content: space-around;
}

#no-account-access-button {
    margin-top: 4%;
}

.nav-button {
    background-color: #A2C685;
    padding: 1% 1% 1% 1%;
    color: white;
    text-decoration: none;
    text-align: center;
    align-self: center;
    border-radius: 12px;
    margin-bottom: 3%;
}

.nav-button:hover {
    background-color: #75905f;
}

#description {
    color: rgb(73, 67, 62);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
} 

.auth-form {
    width: 30%;
    background-color: #A2C685;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.auth-input {
    margin-top: 7%;
    padding-top: 2%;
    border-radius: 10px;
    border-color: white;
    padding-bottom: 2%;
    border-style: solid;
}

.auth-button {
    margin-top: 12%;
    padding-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    border: 1px solid #e3d9cf;
    background-color: #e3d9cf;
    color: rgb(73, 67, 62);
    padding-bottom: 2%;
    font-size: medium;
}

.auth-button:hover {
    background-color: #a49c95;
    border: 1px solid #a49c95;
    color: white;
    cursor: pointer;
}

.account-yes-no:hover {
   text-decoration: underline;
   cursor: pointer;
}

.ref-link {
    color: #5b9d25;
    font-weight: bold;
}

.ref-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#faq {
    background-color: #e3d9cf;
    min-width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

.faq-container {
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    color: rgb(73, 67, 62);
    margin-top: 2%;
}

#about {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#my-picture {
    max-width: 20%;
    border-radius: 50%;
    margin-left: 10%;
}

#about-me {
    margin-left: 5%;
    margin-right: 10%;
    text-align: justify;
}
