.homepage {
    height: 230%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#imgContainer {
    height: 100%;
    color: white;
    background-image: url("./yarn-2565067.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

#websiteTitle {
    align-self: center;
    margin-left: 5%;
}

#blurb {
    display: flex;
    flex-direction: column;
    text-align:justify;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(73, 67, 62);
    margin-bottom: 3%;
}

.nav-button {
    background-color: #A2C685;
    padding: 1% 1% 1% 1%;
    color: white;
    text-decoration: none;
    text-align: center;
    align-self: center;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgb(183, 180, 180);
}

#about {
    background-color: #e3d9cf;
    min-width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

#description {
    color: rgb(73, 67, 62);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
} 

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 1% 5% 3% 5%;
    background-color: #A2C685;
    border-radius: 5% 5% 5% 5%;
    color: white;
    box-shadow: 10px 0px 40px rgb(183, 180, 180);
}

.auth-input {
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.auth-button {
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#auth-options {
    color: rgb(73, 67, 62);
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.form-title:before,
.form-title:after {
    content: "";
    border-bottom: 2px solid #A2C685;
}

