#data-entry-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    margin-bottom: 5%;
    border: 2px solid yellow;
}

#data-entry-page {
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
    text-align: center;
}

#measurements-form-container {
    border: 2px solid purple;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#ease-selection-container {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.data-collection-schema {
    max-width: 35%;
    border-radius: 10px
}

#measurement-taking-explanation {
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
}

.instructions-card-left,
.instructions-card-right {
    display: flex;
    margin-bottom: 2%;
}


.measurement-instructions-left,
.measurement-instructions-right {
    text-align: justify;
    align-self: center;
}

.measurement-instructions-left {
    margin-left: 5%;
}

.measurement-instructions-right {
    margin-right: 5%;
}

#prices-table {
    margin-top: 14%;
}

.pick-jumper-button {
    background-color: rgb(192, 122, 85);
    padding: 1% 2% 1% 2%;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border: 0px;
    margin-bottom: 1%;
}

.pick-neckline-button {
    background-color: rgb(192, 122, 85);
    padding: 1% 2% 1% 2%;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border: 0px;
    margin-bottom: 1%;
}

.pick-jumper-button:hover {
    background-color: rgb(130, 73, 42)
}

.pick-neckline-button:hover {
    background-color: rgb(130, 73, 42)
}

.pick-jumper-button-selected {
    background-color: white;
    border: 2px solid rgb(130, 73, 42);
    padding: 1% 2% 1% 2%;
    color: rgb(130, 73, 42);
    text-decoration: none;
    border-radius: 12px;
    /* border: 0px; */
    margin-bottom: 1%;
}

.ease-selector-button {
    background-color: rgb(192, 122, 85);
    padding: 1% 2% 1% 2%;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border: 0px;
    margin-bottom: 1%;
}

.ease-selector-button-selected {
background-color: white;
    border: 2px solid rgb(130, 73, 42);
    padding: 1% 2% 1% 2%;
    color: rgb(130, 73, 42);
    text-decoration: none;
    border-radius: 12px;
    /* border: 0px; */
    margin-bottom: 1%;
}