#profilePage {
    min-height: 100%;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
}

#profile-info-style2 {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 10% 90%;
    margin: 5%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 1px #d6d1d1;
}

#measurements-style2 {
    grid-column: 2; 
    grid-row: 2;
}

#username-img {
    grid-column: 1;
    grid-row: 2;
    background-image: url("./fabric-2892492_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 50%;
    color: white;
    margin: 2% 5% 2% 2%;
}

div#username-img > h4 {
    max-width: 100%;
    align-self: center;
}

#edit-profile-button {
    grid-column: 3;
    width: 20%;
}

#show-how-to-measurements {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}